.card-class1{
    width: 20%;
    transform: translate(20%, 20%);
}

button {
    margin: 4px 2px;
    display: flex;
}

.mat-content-text {
    text-align: center;
}

.sub-heading {
    font-weight: 900;
}




